<%- include('partials/header.ejs') %>

<div class="container">
<form action="/getRestaurants" method="post" class="mt-5">
    <input type="text" class="form-control" name="id" placeholder="Enter Restaurant Id" required>
    <button type="submit" class="btn btn-primary mt-3">SUBMIT</button>
</form>

<div class="container mt-5">
    <% if(data) { %>
        <h4>Name: <%= data.name %></h4>
    <% } else { %>
        <p>No Restaurants exist!</p>
    <% } %>
</div>


</div>
<%- include('./partials/footer.ejs') %>